</div>
<footer class="footer light-blue  darken-4 ">
  <div class="">
    <div class="row">
      <div class="col l4 s12">
        
        <h5 class="white-text">NEWS</h5>
        <p class="grey-text text-lighten-4">Church service through video due to covid19 </p>
      </div>
      <div class="col l4  s12">
        <blockquote class="blockquote">
        <h5 class="white-text">OUR CONTACT</h5>
        <p class="grey-text text-lighten-4">fred@gmail.com</p>
      </blockquote>
      </div>
      <div class="col l4  s12">
       <blockquote class="blockquote">
        <h5 class="white-text">OUR LOCATION</h5>
        <p class="grey-text text-lighten-4">Boston</p>
       </blockquote>
      </div>
    </div>
  </div>
  <div class="footer-copyright center blue  darken-4">
    <div class="container white-text">
    Copyright © 2020 International Healing Prayer Ministries
    
    </div>
  </div>
</footer>
<!-- Sidenav Activation -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<script>
  $(document).ready(function(){
   $('.sidenav').sidenav();
   $('.parallax').parallax();
  });
  const bk = 'red';
</script>

</body>

</html>