<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Church</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
             <!-- font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> 
        <!-- import css file -->
        <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
 

<header> 
  <nav class="nav-wrapper light-blue  darken-4 ">
     <img  width="8.5%" src="/images/christian-symbol.jpg" />
      <a href="#" data-target="mobile" class="  sidenav-trigger "><i class="material-icons icon-blue ">menu</i></a>
    <ul id="nav-mobile" class="container right hide-on-med-and-down">
      <li ><a href="/">HOME</a></li>
      <li ><a href="/Church">WHO WE ARE</a></li>
      <li ><a href="/MissionsOutreach">MISSION & OUTREACH</a></li>
      <li ><a href="/Newsletter">NEWSLETTER</a></li>
      <li ><a href="/ContactUs">CONTACT US</a></li>
     <!-- <li ><a href="/Messages">MESSAGES</a></li> -->
    </ul>
  </nav>
  <ul class="sidenav  side  "  id="mobile">
       <li><a href="/">HOME</a></li>
      <li><a href="Church">WHO WE ARE</a></li>
      <li><a href="MissionsOutreach">MISSION & OUTREACH</a></li>
      <li><a href="Newsletter">NEWSLETTER</a></li>
      <li><a href="ContactUs">CONTACT US</a></li>
      <li><a href="Messages">MESSAGES</a></li>
      <li><a class="sidenav-close" href="#!"><i class="material-icons right">close</i></a></li>
  </ul>


</header>