<%- include("partials/header"); -%>

 <div class="home white-text">
 
     
 <h3  > Welcome To International Healing Prayer Ministries</h3>

     <div class="row  ">
      <li class="chip cp white-text mission">Be empowered by faith.</li>
      <li class="chip cp white-text mission">Be known for our kindness.</li>
      <li class="chip cp white-text mission">And be the voice of truth.</li>
    </div>

 </div>
   


<%- include("partials/footer"); -%>