<%- include("partials/header"); -%>
<div class="push-footer">
<h4 class='center'>Outreach</h4>   
 <p>The church exists to introduce people to Jesus. We believe that we shouldn’t pour our energy and
      resources into a luxurious building but instead we need to be providing spiritual and practical help to those who need it the most. We have a strong partnership with churches and people in Uganda to ensure that the help goes straight to people in need. 
    We run different fun activities to raise money such as lunch/ dinner parties, Christmas fairs.
     We help school aged children by providing cloths, shoes, school kits and scholarships. 
    </p>

    <h4 class='center'>Our History</h4> 
    <p><span class="ch_name">International Healing Prayer Ministries</span> was founded in 1988 by Fred and Katherine. Fred and Katherine have a strong Christian upbringing and their lives have always evolved around their faith. Building their church and spreading the gospel are the most vital parts of their lives.
         They are so grateful to have established a strong church community where everyone feels part of the family. They are always looking for new members to join them and different ways to keep spreading the word of God. </p>
 </div>
<%- include("partials/footer"); -%>