<%- include("partials/header"); -%>
<div class="push-footer">
    <h4 class="center">Newsletter</h4>

    <div class="row ">
        <div class="card-relative  col s12 m6">
          <div class="card  z-depth-3 grey lighten-3">
            <div class="card-content black-text">
              <span class="card-title"><p>Picnic</p></span>
              <img  width="100%" src="images\churchMembers_outside.jpg" />
              <p>Our community have gathered today for our annual summer picnic. This is a wonderful opportunity for all of us to spend the day together in a relaxed atmosphere and catch up with the latest. 
                We are blessed with great cooks in our church and we had a lovely barbecue. The children enjoyed some organised activities. It was nice to see all ages playing together. 
                The day typically starts and ends with general and more specific prayers. 
                We can’t wait for next year to host our next picnic. 
                Please put this date in your diary and come and join in. 
                </p>
            </div>
          </div>
        </div>

        <div class="card-relative col s12 m6">
            <div class="card z-depth-3 grey lighten-3">  
              <div class="card-content black-text">
                <span class="card-title "><p>Easter</p></span>
                <img  width="100%" src="images\churchMembersInside.jpg" />
                <p>Easter is one of the most important celebrations for us Christians. We celebrate the resurrection
                   of Jesus Christ and the promise that, one day, we will all be reunited with him. </p>
                <p>We gathered as one family on this special day to pray and rejoice. As another annual tradition, we
                   had a lovely easter lunch where each one of us contributed a meal. There were also lots of planned
                   activities for the children from art and craft to colouring. However, with no doubt, the most exciting
                   activity of all was the egg hunt. I might even dare to say that adults enjoyed even more than children.
                   I would like to say a special thank you to my wife Katherine and my children for organizing the egg hunt. </p>
                
              </div>
            </div>
          </div>
      </div>
</div>
 

<%- include("partials/footer"); -%>